@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&display=swap');

.cirContainer {
    display: flex;
    justify-content: center;
}

.circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--healthScore-color);

    .score {
        font-weight: 800;
        font-size: 14pt;
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        background-color: none;
        font-family: 'Baloo 2', sans-serif;

    }
}



h2 {
    text-align: center;
}

.card {
    width: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(77, 122, 22, 0.52);
    margin: 10px 15px 10px 15px;
    background-color: #a9d675;
    font-family: 'Baloo 2', sans-serif;
    padding: 10px;
    min-height: 400px;
    transition: background-color 0.15s ease-in-out
}

.card:hover {
    background-color: #84c43b;
}

.image {
    max-height: 220px;
    height: auto;
}

.image img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.title {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
}

.diets {
    margin: 5px;
    font-size: 14px;
    padding-bottom: 5px;
    text-align: center;
}

.detail {
    background-color: #009600;
    color: #fff;
    border: 1px solid #009600;
    ;
    border-radius: 15px;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-bottom: 0px;
    font-family: 'Baloo 2', sans-serif;
}

.detail:hover {
    background-color: #5baf5b;
    border: 1px solid #5baf5b;
}