@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.searchInput{
    width: 200px;
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bccfa8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 5px;
    border-radius: 0.25rem 0 0 0.25rem;
    font-family: 'Poppins', sans-serif;
}

.searchInput:focus{
    outline: none;
}
.searchBttn {
    background-color: #28a745; 
    color: #fff; 
    border: 1px solid #28a745;; 
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; 
    font-size: 12px; 
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    cursor: pointer; 
    height: 32px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.searchBttn:hover {
    background-color: #5baf5b;
    border-color: #5baf5b
}
.searchBar {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}
.lupa {
    width: 15px;
    height: 15px;
    display: flex;
    
}